
.in_top {
    width: 1019px;
}

.in_title {
    padding-top: 50px;
    padding-left: 180px;
    font: 17px bold itali;
}

.in_content input {
    background-color: transparent;
    margin: 100px 0px 0px 160px;
    width: 250px;
    height: 50px;
    font-size: 20px;
}

.in_exit {
    margin: -340px -900px 400px 900px;
}