

.lg_top {
    width: 1019px;
}

.lg_title {
    padding-left: 50px;
    font: 17px bold itali;
}

.lg_left {
    padding: 20px 0px 0px 70px;
}

.lg_left ul {
    padding-left: 50px;
    padding-bottom: 60px;

}

.lg_right {
    padding-left: 750px;
    margin-top: -400px;
}

.lg_right h2 {
    padding-left: 80px;
    padding-bottom: 30px;
}

.lg_right select {
    background-color: transparent;
}

.lg_right input {
    background-color: transparent;
}

.lg_bottom {
    padding-left: 160px;
}

.lg_bottom p {
    padding-top: 10px;
}

.lg_right p {
    padding-top: 20px;
}

.lg_submit {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}