
.mg_title {
    padding-top: 150px;
    padding-left: 400px;
    font: 17px bold itali;
}

.mg_content input {
    background-color: transparent;
    margin: 150px 0px 0px 160px;
    width: 250px;
    height: 50px;
    font-size: 20px;
}

.mg_exit {
    margin: -340px -900px 400px 900px;
}