

.mg_ro_top {
    width: 1019px;
}


.mg_ro_title {
    padding-top: 150px;
    padding-left: 530px;
    font: 17px bold itali;
}

.mg_ro_table {
    margin: 100px 0px 100px 130px;
    font-size: 30px;
}

.mg_ro_table input {
    background-color: transparent;
    width: 70px;
    height: 25px;
}

.mg_ro_table td {
    width: 100px;
}

.mg_ro_return {
    margin: 200px 0px -200px 720px;
}

.mg_ro_button {
    background-color: transparent;
    margin-top: 130px;
    margin-left: -200px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}