

.rg_title {
    padding-top: 50px;
    padding-left: 400px;
    font: 17px bold oblique;
}

.rg_top {
    width: 1019px;
}

.rg_content {
    padding-left: 350px;
}

.rg_content input {
    background-color: transparent;
    margin-right: 10px;
}

.rg_content p {
    padding: 40px 10px 0px 10px;
}

.rg_button {
    margin-top: 30px;
    margin-left: 10px;
    width: 250px;
    height: 50px;
    font-size: 20px;
}

.rg_account {
    margin-left: 35px;
}

.rg_password {
    margin-left: 35px;
}

.rg_phone {
    margin-left: 20px;
}

.rg_name {
    margin-left: 35px;
}

.rg_confirm_password {
    margin-left: 6px;
}

.rg_exit {
    margin: -410px 0px 400px 800px;
}